{% extends "base.html" %}

{% block content %}
<header>
  <nav>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/vets/new">Add Vet</a></li>
    </ul>
  </nav>
</header>
{% for vet in all_vets %}
  <div class="vet">
    <div class="content">     
      <li>Name: {{ vet.name }}</li>        
      <div class="buttons">
          <form class="edit-form" action="/vets/{{vet.id}}/edit" method="GET">
            <button id="Edit" type="submit">Edit Vet</button>         
          </form>
          <form class="delete-form" action="/vets/{{vet.id}}/delete" method="POST">
            <button id="Remove" type="submit">Delete Vet</button>         
          </form>
      </div> 
    </div>
  </div>
{% endfor %}

{% endblock %}

