{% extends "base.html" %}
{% block content %}

<header>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/vets">Vets</a></li>
      </ul>
    </nav>
  </header>

<div class="container">  
  <form action="/vets" method="post">
    <div class="form-container">
      <div class="input-select">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Vet Name">
      </div>  
      <button type="submit">Add Vet</button>
    </div>
  </form>
</div>  
{% endblock %}