{% extends "base.html" %}
{% block content %}

<header>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/animals">Animals</a></li>
      </ul>
    </nav>
  </header>
<div class="container">
<form action="/animals/{{animal.id}}" method="post">
  <div class="form-container">
    <div class="input-select">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="{{ animal.name }}">
    </div>

    <div class="input-select">
      <label for="animal_type">Animal Type:</label>
      <input type="text" id="animal_type" name="animal_type" value="{{ animal.animal_type }}">
    </div>

    <div class="input-select">
      <label for="birth_date">Birth Date:</label>
      <input type="text" id="birth_date" name="birth_date" value="{{ animal.birth_date }}" placeholder="MM-DD-YYYY ">
    </div>
    
    <div class="input-select">
      <label for="age">Age:</label>
      <input type="text" id="age" name="age" value="{{ animal.age }}">
    </div>

    <div class="input-select">
      <label for="owner">Owner:</label>
      <select id="owner" name="owner_id">
        {% for owner in all_owners %}
          <option value="{{ owner.id }}"
            {% if animal.owner.id== owner.id %} selected="selected"{% endif %}>
            {{ owner.name }}
          </option>
        {% endfor %}
      </select>
    </div>
    <button class="edit" type="submit">Edit Animal</button>
  </div>
</form>
</div>

{% endblock %}