{% extends "base.html" %}
{% block content %}

<header>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/animals">Animals</a></li>
      </ul>
    </nav>
  </header>

<form action="/animals" method="post">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="Name" required autofocus>
    </div>
  
    <div>
      <label for="animal_type">Animal Type:</label>
      <input type="text" id="animal_type" name="animal_type" placeholder="Animal Type" required>
    </div>
  
    <div>
        <label for="birth_date">Birth Date:</label>
        <input type="text" id="birth_date" name="birth_date" placeholder="Birth Date" required>
    </div>

    <div>
      <label for="owner">Owner:</label>
      <select id="owner" name="owner_id">
        {% for owner in all_owners %}
            <option value="{{owner.id}}">{{owner.name}}</option>
        {% endfor %}    
      </select>
    </div>
    <button type="submit">Add Animal</button>
  
  </form>
  
{% endblock %}