{% extends "base.html" %}
{% block content %}

<header>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/owners">Owners</a></li>
      </ul>
    </nav>
  </header>
<div class="container">
<form action="/owners" method="post">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="Owner Name">
    </div>
    <div>
      <label for="contact_info">Contact Information:</label>
      <input type="text" id="contact_info" name="contact_info" placeholder="Contact Information">
    </div>
    <div>
    <label for="vet">Vet:</label>
      <select id="vet" name="vet_id">
         {% for vet in all_vets %}
            <option value="{{vet.id}}">{{vet.name}}</option>
         {% endfor %}    
      </select>
    </div>
  
    <button type="submit">Add Owner</button>
  
  </form>
</div> 
{% endblock %}